$error: #f2777a;
$correct: #92d192;
$white: white;

*, ::before, ::after {
    box-sizing: border-box;
}

.QuestionnaireRow {
    display: flex !important;
    flex-flow: row;
}

.toolbar {
    position: fixed;
    top:50%;
    right:2%;

    input[type="range"] {
        cursor: pointer;
    }

    #disTimeout {
        position: relative;
        border: 0.2rem solid rgba(0,0,0, 0.4);
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:active {
            top: 3px;
            box-shadow: none;
        }
    }
}

.alertBox {
    margin-left: 0.8rem;
    border-radius: 0.35rem;
    background-color: $error;
    font-weight: 400;
    color: $white;
    padding: 0.6rem;
    font-size: 1.1rem;
    line-height: 1.5;
    transition: all 0.5s;
    box-shadow: 0 4px 4px rgba($error, .5);

    &.correct {
        background-color: $correct;
        box-shadow: 0 4px 4px rgba($correct, .5);
    }
}




